{% load static %}

<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>{% block title%}  {% endblock %}</title>
  </head>
  <body>
    
    {% include 'navbar.html' %}

    {% block content %}

    <div class="container mt-4">
      <h1>Welcome, {{ user.username }}!</h1>
      <p>Your email: {{ user.email }}</p>
      
      <a href="{% url 'studentcard_html' %}" class="btn btn-primary">Generate Student Card</a>
      <a href="{% url 'viewstudentcard_html' %}" class="btn btn-primary">View Student Card</a>
  </div>

    {% endblock%}

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    {% comment %} <link rel="stylesheet" href="{% static '/css/studentlogin.css' %}"> {% endcomment %}
  </body>
</html>